body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  color: #333;
}

.container {
  display: flex;
}

.column {
  flex-direction: column;
}
    
.fs-form {
  width: 500px;
  margin: auto;
  
  h2 {
    text-align: center;
  }

  form {
    width: 100%;

    & > div {
      width: inherit!important;
      margin-top: 10px;       
    }
  }
}

.form-button {
  margin-top: 30px;
}

.fs-list {
    width: 90%;
    margin: auto;
}

.Select-menu-outer {
  z-index: 9999;  
}